<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>life</title>
	<link rel="stylesheet" type="text/css" href="css/diarystyle.css">
</head>
<body>
	<!------------------------------ HEADER----------------------------------->
	<header id="header">
		<h2>ЩОДЕННИК</h2>
		<div id="descr">
			<i>На вигляд більш-менш пристойний, в майбутньому планую додати функціоналу. Поки що наповнення на різну тематику і не структуроване</i>
		</div>
	</header>
<!------------------------------ MENUS----------------------------------->
<div id="menu">
	<ul>
			<li><a href="../index.html">Головна</a></li>
			<li><a href="../index.html">Новий запис</a></li>
	</ul>
	<br><b>Теги</b><br>
	careerkhpi, jobfair, activecitizens, LoNG, kharkiv_eco_city, life_others, karantin2020
</div>
<!------------------------------ CONTENT----------------------------------->
	<div id="container">
		<%= article.date %>
		<%- article.content %>
		<%= article.tags %>
		<a href="/diary">Повернутися до списку</a>
	</div>
</div>
</body>
</html>