# node_modules - Всі залежності
node_modules/

# Лог-файли
*.log

# Конфігураційні файли, що містять чутливі дані
.env

# Налаштування IDE (наприклад, Visual Studio Code)
.vscode/
.idea/

# Інші тимчасові файли, створені системами
.DS_Store
Thumbs.db

# Файли від pm2 (якщо ви використовуєте pm2 для процесів)
pm2-log/

# Інші файли та каталоги, які не повинні бути в репозиторії
.npm/