		body{
			background-image : url(../media/indexfon.jpg);
			background-size: 100%;
			background-attachment: fixed;
			font-family: Consolas;
			font-size: 16px; 
		}

		#themes{
			position: relative;
			float: left;
		}
		#q{
			/*для квадратика з посиланням на розділ*/
			position: relative;
			float: left;
			width: 400px;
			height: 100px;
			margin: 100px 5px 5px 100px;
			padding: 5px;
			text-align: center;
			font-family: Century Gothic;
      		font-size: 30px; 
			background-color: rgba(193, 148, 255, 0.6);
			border: 1px solid black;
			/*display: inline;*/
			/*top: 220px;*/
		}


/*--------------ELEMENT'S STYLES-----------------*/
