<!DOCTYPE html>
<html>
<head>
	<title>Конденсатор</title>
	<link rel="stylesheet" type="text/css" href="../css/componentsStyle.css">
</head>
<body>
	<div id="content">
		<img src="https://wiki.amperka.ru/_media/%D1%81%D1%85%D0%B5%D0%BC%D0%BE%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B0:caps-0.png" width="200px" style="float: right;">
		<font size="6"><center>Конденсатор</center></font>
		<nav>Розділи: <a href="#A1">Що таке конденсатор</a> | <a href="#A2">Основні параметри</a> | <a href="#A3">Різновиди</a> | <a href="#A4">Як правильно підбирати конденсатор</a>  | <a href="#A5">Практична шпаргалка по підбору конденсатора</a> | <a href="#A6">Важливі Рекомендації</a> | <a href="#A7">Класифікація</a> | <a href="#A8">Узагальнені діапазони параметрів різних типів конденсаторів</a></nav>
		<table border="1">
			<tr>
				<th id="A1">Що таке конденсатор</th>
			</tr>
			<tr>
				<td>Конденсатор — це пасивний електронний компонент, який накопичує електричний заряд та енергію електричного поля.</td>
			</tr>
			<tr>
				<td>
					Конденсатор - це фізично два провідники із діелектриком між ними (наприклад, фольга + плівка, метал + кераміка, алюміній + оксид). 
					При подачі напруги на провідники (або обкладки), на одному із них накопичуються електрони, а інший - втрачає електрони. 
					І так як через діелектрик струм не тече, між обкладками виникає електричне поле, в якому накопичується енергія. 
					Але змінний струм тече, так як при зміні напруги змінюється і напрям струму - конденсатор заряджається/розряджається.
				</td>
			</tr>
			<tr>
				<td>Практично конденсатор не пропускає постійний струм і чинить опір зміні напруги, так як переміщення електронів від і до обкладок конденсатора займає деякий час.</td>
			</tr>
			<tr>
				<th>Для чого використовують конденсатори</th>
			</tr>
			<tr>
				<td>1. Фільтрація пульсацій - після випрямляча конденсатор згладжує напругу.</td>
			</tr>
			<tr>
				<td>2. Розв’язка живлення (decoupling) - конденсатори біля мікросхем компенсують імпульсні струми. Саме тому біля процесорів ставлять багато кераміки MLCC.</td>
			</tr>
			<tr>
				<td>3. Накопичення енергії - спалахи, UPS, суперконденсатори.</td>
			</tr>
			<tr>
				<td>4. Передача змінного сигналу - конденсатор блокує DC і пропускає AC.</td>
			</tr>
			<tr>
				<td>5. Резонансні контури - разом з індуктивністю утворює LC-контур.</td>
			</tr>
			<tr>
				<td>6. Придушення завад - EMI/EMC-фільтри.</td>
			</tr>
			<tr>
				<td>7. Імпульсні схеми - швидка віддача енергії.</td>
			</tr>
		</table>

		<table border="1">
			<tr>
				<th colspan="3" id="A2">Основні параметри</th>
			</tr>
			<tr>
				<td><xmp>1. Номінальна ємність</xmp>Capacitance = C, [Ф]</td>
				<td>Показує, який заряд накопичує конденсатор. Стандартні ряди E6, E12, E24, E48… C=q/U або i=C*(dU/dt)​​<br>C=ε * (S / d), де S — площа обкладок, d — відстань між ними, ε — властивості діелектрика​</td>
				<td>Для фільтра більша ємність → краще згладжування; Для ВЧ надто велика ємність може погіршувати поведінку</td>
			</tr>
			<tr>
				<td><xmp>2. Допуск</xmp>Tolerance, %</td>
				<td>Похибка ємності: ±1% (F), ±2% (G), ±5% (J), ±10% (K), ±20% (M)</td>
				<td>Для живлення часто не критично. Для генераторів — дуже важливо.</td>
			</tr>
			<tr>
				<td><xmp>3. Номінальна (робоча) напруга</xmp>Rated Voltage, Working Voltage, WVDC = Ur = Vr</td>
				<td>Максимальна робоча напруга. E=(C*U^2)/2</td>
				<td>Важливо: не можна працювати на межі, краще брати запас 1.5× запас для звичайних схем, 2× для імпульсних</td>
			</tr>
			<tr>
				<td><xmp>4. Температурний коефіцієнт ємності (ТКЄ)</xmp>TCC, TCK або Temperature Coefficient</td>
				<td>TCC = ΔC/(C⋅ΔT); показує, як змінюється ємність від температури (наприклад, ±30 ppm/°C)​</td>
				<td>
					особливо важливо для кераміки: Class 1 — стабільні(C0G, NP0), Class 2 — можуть втрачати 20–80% ємності (X7R, X5R, Y5V)<br>
					0–30 ppm/°C - excellent;<br>100 ppm/°C - good;<br>>1000 ppm/°C - погано
				</td>
			</tr>
			<tr>
				<td><xmp>5. ESR</xmp>Equivalent Series Resistance</td>
				<td>Еквівалентний послідовний опір: кількість втрат у діелектрику, виводах і фользі. Наприклад, 12 mΩ @100kHz або у вигляді графіку ESR vs Frequency<br>Формула втрат: P=Irms^2​*ESR</td>
				<td>чим більший тим більше гріється;<br>надто низький - можуть бути менш стабільними<br>> 1 Ω - дуже погано;<br>0.1–1 Ω - нормально для електроліту;<br>10 – 100 Ω - low ESR;<br>1–10 мΩ - excellent;<br>&lt;1 мΩ - топовий полімер/MLCC</td>
			</tr>
			<tr>
				<td><xmp>6. ESL</xmp>Equivalent Series Inductance</td>
				<td>Паразитна індуктивність XL ​= ωL; найчастіше показують у графіку impedance/frequency</td>
				<td>
					На високих частотах конденсатор перетворюється на котушку, тому на високих частотах електроліти погані, а кераміка хороша<br>
					> 10 нГн - погано для ВЧ<br>1–10 нГн - нормально<br>&lt; 1 нГн - excellent
				</td>
			</tr>
			<tr>
				<td><xmp>7. tan δ</xmp>Dissipation Factor</td>
				<td>Тангенс кута втрат - показує втрати у діелектрику; tanδ = ESR​ / ∣XC​∣. Наприклад, DF = 0.015 @1kHz</td>
				<td>чим менший, тим менше нагрів і більший ККД;<br> &lt; 0.001 - excellent;<br> 0.001–0.01 - good;<br> 0.01–0.05 - середній;<br> > 0.05 - погано</td>
			</tr>
			<tr>
				<td><xmp>8. Струм витоку</xmp>Leakage Current, Ileak​</td>
				<td>ідеальний конденсатор не проводить DC, реальний - повільно розряджається (Rleak ​= ​U​ / Ileak)</td>
				<td>
					малий витік важливий в таймерах, пам'яті, дозиметрах, великий призводить до втрати енергії і саморозряду<br>
					pA–nA - excellent<br>µA - хороший<br>mA - великий<br>Для sample-and-hold потрібно nA або менше
				</td>
			</tr>
			<tr>
				<td><xmp>9. Опір ізоляції</xmp>Insulation Resistance</td>
				<td>Rins ​= ​U / Ileak​</td>
				<td>Чим більший — тим краще.</td>
			</tr>
			<tr>
				<td><xmp>10. Струм пульсацій</xmp>Ripple Current, RMS Ripple Current</td>
				<td>Максимальний змінний струм через конденсатор (із формули втрат P=Irms^2​ * ESR), наприклад 2.1 Arms @100kHz 105°C</td>
				<td>
					Критичний для імпульсних БЖ, інверторів, перевищення призводить до нагріву, висиханню електроліта, вибуху<br>
					&lt; 100 мА - слабкий<br>0.5 - 2 А - нормальний<br> 5 - 20 А - excellent
				</td>
			</tr>
			<tr>
				<td><xmp>11. Частотні характеристики</xmp>Impedance vs Frequency</td>
				<td>Залежність імпедансу від частоти: спочатку падає, досягає мінімуму, після чого різко зростаж (через ESL)<br>для реального конденсатора Z = ESR + jωESL + 1/jωC</td>
				<td>важливо мати малий імпеданс на потрібній частоті</td>
			</tr>
			<tr>
				<td><xmp>12. SRF</xmp>Self Resonant Frequency</td>
				<td>Важливо: Після SRF конденсатор працює як дросель<br>fSRF​ = 1 / 2π* square (LC)</td>
				<td></td>
			</tr>
			<tr>
				<td><xmp>13. DC Bias Characteristics</xmp></td>
				<td>показує, як падає ємність від постійної напруги (див. графік). Наприклад MLCC 10 µF X5R 6.3V реально може стати: 2–3 µF</td>
				<td></td>
			</tr>
			<tr>
				<td><xmp>14. Абсорбція діелектрика</xmp></td>
				<td>або “Ефект пам’яті” - після розряду напруга частково повертається.</td>
				<td>в ідеалі - &lt; 0.1%; для PET ~0.2–0.5%; для електроліту - кілька %</td>
			</tr>
			<tr>
				<td><xmp>15. Aging</xmp>Aging Rate, Capacitance Aging</td>
				<td>Втрата ємності з часом, наприклад 2% per decade hour</td>
				<td></td>
			</tr>
			<tr>
				<td><xmp>16. Термін служби</xmp>Useful Life</td>
				<td>Наприклад, 2000 h @ 105°C; 10000 h @ 125°C</td>
				<td>Особливо для електролітів<br>при максимальній температурі: 1000 h - дешево;<br> 2000–5000 h - нормально;<br> 10000 h - excellent;<br>> 20000 h - industrial</td>
			</tr>
			<tr>
				<td><xmp>17. Q-factor</xmp>Quality Factor</td>
				<td>
					добротність - важлива для резонансних контурів, RF, рідше для фільтрів та генераторів; показує наскільки вузький та "чистий" резонанс.<br>
					Q = Xc/ESR = 1/(ωC⋅ESR), де Xс — реактивний опір, ESR — втрати, ω=2πf<br>
					у даташиті може бути числом, таблицею або графіком, т.к. сильно залежить від частоти
				</td>
				<td>
					чим більша добротність, тим менше енергії втрачається, вона довго "коливається" і більш вузький резонанс<br>
					&lt; 10 - погано;<br> 10 - 100 - нормально;<br> 100-1000 - добре;<br> > 1000 - excellent RF<br>
					! у деяких фільтрах занадто великий Q може викликати дзвін або нестабільність
				</td>
			</tr>
			<tr>
				<td><xmp>18. dV/dt</xmp>Voltage Slope, Rate of Rise Voltage</td>
				<td>
					важливо для роботи із великими імпульсами (Snubber, IGBT/MOSFET, LLC БЖ, SMPS, half-bridge, inverter)<br>
					показує, наскільки швидко можна змінювати напругу на конденсаторі без пошкодження (перегріву, пробою, деградації, тріщин)
				</td>
				<td>&lt; 10 V/µs - слабко;<br> 100–1000 V/µs - добре;<br> > 10 kV/µs - pulse-grade</td>
			</tr>
			<tr>
				<td><xmp> Endurance Test</xmp></td>
				<td>Тест витривалості - показує скільки годин конденсатор працює при максимальній температурі.</td>
				<td></td>
			</tr>
		</table>

		<table border="1">
			<tr>
				<th colspan="4" id="A3">Різновиди конденсаторів</th>
			</tr>
			<tr>
				<td rowspan="4">
					<xmp>Керамічні (MLCC)</xmp> COG, NP0, X7R, X5R, Y5V<br>
					<img src="https://static.chipdip.ru/lib/171/DOC012171047.jpg" width="70px">
					<img src="https://ir.ozone.ru/s3/multimedia-m/c400/6539249134.jpg" width="70px">
				</td>
				<td>
					<b>Class 1</b> - лінійні діелектрики — високостабільні (C0G, NP0) - ємність майже не змінюється від температури, напруги, часу і частоти, мають малі ESR і tanδ, але дуже маленькі ємності (пФ, нФ)
				</td>
				<td>використовуються в точних RC-ланцюгах, фільтрах, часових контурах, аудіо, радіозв'язку (RF)</td>
			</tr>
			<tr>
				<td>
					<b>Class 2</b> - сегнетоелектрики — найпоширеніші (X7R, X5R, X6S, Y5V) - велика ємність у малому корпусі, сучасна електроніка буквально вся на X7R/X5R, можна отримати десятки мкФ у корпусі 0603, але ємність мильно залежить від температури, напруги, часу і механічного тиску, має мікрофонний ефект (може вібрувати, пищати, працювати як мікрофон)<br>
					Перша буква - мін. температура (X = -55°C; Y = -30°C; Z = +10°C)<br>
					Цифра - макс. температура (5 = +85°C; 6 = +105°C; 7 = +125°C)<br>
					Остання буква - зміна ємності (R = ±15%; S = ±22%; T = +22/-33%; U = +22/-56%; V = +22/-82%)
				</td>
				<td>використовують у блоках ижвлення, для обв'язки цифрової логіки і процесорів, у цифрових схемах, decoupling</td>
			</tr>
			<tr>
				<td><b>Class 3</b> — висока ємність але екстремально нестабільні (Y5V, Z5U), ємність може змінюватися у кілька разів від температ і DC bias ефекту</td>
				<td>зараз майже ніде не використовують, хіба що в дешевих китайських пристроях</td>
			</tr>
			<tr>
				<td colspan="2"><b>DC Bias ефект</b> - це зниження ємності під дією постійної напруги (bias - робоче зміщення, підмагнічування). особливо помітний у кераміці класу 2, так як це нелінійний діелектрик, і в ньому електричне поле "перебудовує" домени всередині кераміки, через що падає діелектрична проникність, а значить і ємність. Наприклад, 10 µF 6.3V X5R може реально давати лише 2–4 µF.Необхідно контролювати на графіках Capacitance vs DC Bias або DC Bias Characteristics.</td>
			</tr>
			<tr>
				<td rowspan="5">
					<xmp>Плівкові</xmp>PP, PET, PPS, PC<br>
					<img src="https://i.ebayimg.com/images/g/w9UAAOSw43BlhGcS/s-l400.png" width="70px">
					<img src="https://cdn-reichelt.de/bilder/web/artikel_ws/B300%2FMKP10.jpg" width="80px">
					<img src="https://www.musikding.de/media/image/product/4446/md/pp-01uf-630v-axial.jpg" width="80px">
				</td>
				<td><b>Поліпропілен</b> (PP, MKP, Polypropylene Film), а також "преміальний універсальний плівковий конденсатор" - мають малий tanδ, низький ESR, добре працюють із великими струмами і напругами, імпульсами, AC (швидкий заряд/розряд), висока стабільність, але великі, дорогі і мають гіршу щільність ємності</td>
				<td>використовують у демпферних колах (snubber), резонансних перетворювачах, LLC-конвертерах, аудіотехніці, точній аналоговій електроніці, ланцюгах великого змінного струму, для придушення електромагнітних завад (EMI suppression), в якості пускових та робочих конденсаторів двигунів</td>
			</tr>
			<tr>
				<td><b>Поліестер</b> (PET, Mylar, MKT, Polyester Film) - дешевий, маленький, універсальний, хороший для масової електроніка, мають більші втрати, ніж РР, гірший tanδ, більшу абсорбцію і гіршу температурну стабільність</td>
				<td>використовують для загального призначення (general purpose), міжкаскадний зв’язок (coupling), фільтрах, побутовій електроніці, недорогих БЖ</td>
			</tr>
			<tr>
				<td><b>Полікарбонат</b> (PC, Polycarbonate Film) - мають високу стабільність, хороший ТКЄ, низькі втрати, високоточні, але великі і дорогі, зараз уже практично витіснені PPS та PP</td>
				<td>використовують у точній аналоговій електроніці, часових ланцюгах (timing circuits), вимірювальній техніці (instrumentation), military/industrial</td>
			</tr>
			<tr>
				<td><b>Polyphenylene Sulfide</b> (PPS) - більш стабільні і мають ширший температурний діапазон, ніж PET, а також низька абсорбція, low drift, високоточні, і навіть є маленькі SMD, але не такий хороший для великих імпульсів як РР</td>
				<td>використовують у автомобільній електроніці (automotive), точній аналоговій електроніці, часових ланцюгах (timing), SMD film capacitors, схемах датчиків (sensor circuits)</td>
			</tr>
			<tr>
				<td colspan="2">Плівкові конденсатори мають здатність до <b>self-healing</b> - відновлення після мікропошкодження. У металізованих плівкових конденсаторах шар металу дуже тонкий і якщо в якомусь місці стався пробій або виникла іскра - тонкий шар навколо дефекту локально випаровується, пошкоджена ділянка ізолюється і конденсатор продовжує працювати. Але після багатьох таких мікропробоїв ємність поступово зменшується.</td>
			</tr>
			<tr>
				<td>
					<xmp>Алюмінієві електролітичні</xmp>
					<img src="https://storage.sea.com.ua/uploads/images/electronnie_componenti/news/Aluminum%20electrolytic%20capacitors.png" width="100px">
				</td>
				<td>мають дуже велику ємність, дешеві, але мають високий ESR, полярні, старіють, висихають, крім того бояться перегріву і після довгого зберігання потрібне "тренування"</td>
				<td>використовують у блоках живлення, фільтрах, для накопичення енергії</td>
			</tr>
			<tr>
				<td>
					<xmp>Неполярні електролітичні</xmp>
					<img src="https://images.prom.ua/110237108_w300_h300_47mkf-100v.jpg" width="100px">
				</td>
				<td>фактично два полярних електроліти “спина до спини”. Мають більший ESR, більші втрати, гірші за плівкові. Практично “електроліт для змінного струму”.</td>
				<td>використовують у аудіокросоверах, як розділові конденсатори, в AC-ланцюгах, для пуску двигунів</td>
			</tr>
			<tr>
				<td>
					<xmp>Танталові</xmp>
					<img src="https://storage.sea.com.ua/uploads/images/electronnie_componenti/news/Tantalum-Capacitors4.jpg" width="100px">
				</td>
				<td>у порівнянні із алюмінієвими більш стабільні, мають менший ESR, більш компактні, але дорожчі, чутливі до перенапруг, можуть загоратися</td>
				<td>використовують у портативній електроніці, для живлення цифрової логіки (мікросхем FPGA/ процесорів CPU)</td>
			</tr>
			<tr>
				<td>
					<xmp>Полімерні</xmp>
					<img src="https://www.rcscomponents.kiev.ua/img/ERS-hitano-cap-img.png" width="100px">
				</td>
				<td>мають дуже низький ESR, великий ripple current, більш довговічні, але дорожчі і мають меншу максимальну напругу</td>
				<td>використовуються у модулях стабілізації живлення (VRM), де потрібна стабільна напруга при сильних перепадах споживання, материнських платах, у процесорах</td>
			</tr>
			<tr>
				<td>
					<xmp>Слюдяні</xmp>Mica Capacitors<br>
					<img src="https://inpromsintes.ru/upload/iblock/7a3/x5p6no43dh1cv3jlq0ypi1btsxox2vus.jpeg" width="100px">
				</td>
				<td>надстабільні, чудові для радіочастот (RF), але дорогі і мають малу ємність</td>
				<td>використовують у RF, precision, oscillators</td>
			</tr>
			<tr>
				<td>
					<xmp>Паперові</xmp>
					<img src="https://e-comps.com.ua/data_resized/4/e/9/e/3/4e9e32b3b6124877ce4dfd707e0b11bf8a9738b8.jpeg" width="100px">
				</td>
				<td>застарілий тип: вбирають вологу, деградують</td>
				<td>сьогодні практично не використовуються</td>
			</tr>
			<tr>
				<td>
					<xmp>Суперконденсатори (Іоністори)</xmp>Supercap<br>
					<img src="https://www.henri.de/media/10/fe/d5/1720030530/goldcap_supercap_elko_2022_27-730-00060.jpg" width="100px">
				</td>
				<td>гігантська ємність, швидкий заряд, можуть віддавати великий струм, витримують дуже багато циклів, але нихька напруга, великі витоки, потрібно балансувати</td>
				<td>використовують у резервному живленні (Backup power), джерелах безперебійного живлення (UPS) для запобігання коротким провалам напруги, рекуперації (не викидання енергії, а накопичення для повторного використання) в моторах електромобілів, ліфтах, промислових приводах</td>
			</tr>
			<tr>
				<td>
					<xmp>Прохідні конденсатори</xmp>Feedthrough Capacitors<br>
					<img src="https://passive-components.eu/wp-content/uploads/2018/11/Feedthrough-capacitors.jpg" width="100px">
				</td>
				<td>це спеціальний конденсатор, через який проходить провідник. Мають дуже малий ESL, дуже короткий шлях струму. Ефективний для придушення ВЧ-завад: ВЧ-шум "зливається" через конденсатор на корпус/землю, а корисний сигнал проходить далі</td>
				<td>використовують у RF, військовій техніці, авіації, ЕМІ-фільтрах, герметичних корпусах</td>
			</tr>
			<tr>
				<td><xmp>Наноструктурні конденсатори</xmp></td>
				<td>для збільшення ємності використовують наноструктури (графен, нанотрубки)</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<xmp>Вакуумні конденсатори</xmp>
					<img src="https://kavmaster.ru/wp-content/uploads/2020/01/3-6.jpg" width="100px">
				</td>
				<td>вакуум в якості діелектрика: мають дуже малі втрати, працюють на великих напругах і ВЧ, але дорогі, великі і крихкі</td>
				<td>використовують у передавачах, RF, промислових генераторах, де є плазма</td>
			</tr>
			<tr>
				<td>
					<xmp>Повітряні конденсатори</xmp>
					<img src="https://de.farnell.com/productimages/large/en_GB/1215712-40.jpg" width="100px">
				</td>
				<td>повітря в якості діелектрика, часто змінні; мають малі втрати, але малу ємність і великі розміри</td>
				<td>використовують у старих радіоприймачах, tunong, RF</td>
			</tr>
			<tr>
				<td>
					<xmp>Safety capacitors</xmp>X/Y capacitors<br>
					<img src="https://www.gnscomponent.com/Content/upload/2020459623/202011051915218817758.jpg" width="100px">
				</td>
				<td>спеціальні конденсатори для роботи з мережею 220 В: при пробої не спричиняє пожежу або удар струмом. Є тип Х (між phase ↔ neutral) і тип У (між phase ↔ ground)</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<xmp>Змінні конденсатори</xmp>Variable capacitors<br>
					<img src="https://m.media-amazon.com/images/I/51bwtGdmfwL._AC_UF894,1000_QL80_.jpg" width="100px">
					<img src="https://passive-components.eu/wp-content/uploads/2020/07/variable-capacitors.jpg" width="100px">
				</td>
				<td>конденсатори зі змінною ємністю, є підстроювальні (trimmer) і плавного регулювання</td>
				<td>використовують у tuning, генераторах, RF</td>
			</tr>
			<tr>
				<td>
					<xmp>Пускові/робочі конденсатори двигунів</xmp>Motor capacitors<br>
					<img src="https://st26.stpulscen.ru/images/product/607/365/809_original.png" width="100px">
				</td>
				<td>створюють фазовий зсув, необхідний для роботи AC-двигуна; є короткочасний (Start capacitor) і постійно в колі (Run capacitor)</td>
				<td></td>
			</tr>
		</table>

		<table border="1">
			<tr>
				<th colspan="4" id="A4">Як правильно підбирати конденсатор</th>
			</tr>
			<tr>
				<td><xmp>Фільтр</xmp> у БЖ, VRM, адаптерах, DC/DC</td>
				<td>Найкраще low ESR електроліт + паралельно MLCC</td>
				<td>Згладжування пульсацій: електроліт фільтрує НЧ, кераміка або полімери — ВЧ</td>
				<td>важливо low ESR (&lt; 10 мΩ) і high ripple current;<br>для блоків живлення із довгим терміном служби (Long life PSU) - 105–125°C low ESR;<br>для імпульсних БЖ (SMPS) - Ripple > 1 A</td>
			</tr>
			<tr>
				<td><xmp>Розв’язка живлення</xmp> у CPU, FPGA (або ПЛІС - програмована логічна інтегральна схема), GPU, мікроконтролерах</td>
				<td>Тільки MLCC X7R/X5R (багато паралельно)</td>
				<td>конденсатор працює в якості локального "міні-акумулятора", щоб при подачі напруги від БЖ енергія миттєво поступила до мікросхем</td>
				<td>важливо низький ESL (менший корпус → менший ESL), Self Resonant Frequency, Impedance vs Frequency, DC Bias (зазвичай X7R + запас по напрузі ×2)</td>
			</tr>
			<tr>
				<td><xmp>Міжкаскадний зв’язок</xmp>DC/AC coupling</td>
				<td>краще поліпропілен, PPS, PP, PET, NP electrolytic, C0G</td>
				<td>для відтинання постійної складової сигналу при передачі його між каскадами</td>
				<td>важливо Leakage current (щоб не зсувати робочу точку), абсорбція, ESR, стабільність</td>
			</tr>
			<tr>
				<td><xmp>Таймери та RC-ланцюги</xmp>(555 timer, reset delay, oscillators, PWM)</td>
				<td>C0G, PPS, PP</td>
				<td>для формування затримок</td>
				<td>важливо Tolerance, Temperature Coefficient, Aging Rate, Leakage Current</td>
			</tr>
			<tr>
				<td><xmp>LC resonance</xmp>(RF, радіо, PLL, фільтри, LLC)</td>
				<td>C0G, слюдяні, vacuum, air</td>
				<td>утворення резонансу</td>
				<td>важливо високий Q factor (вузький резонанс і малі втрати), низький ESR, stability, SRF, Tolerance</td>
			</tr>
			<tr>
				<td><xmp>Інтегрування / диференціювання</xmp> (DAC)</td>
				<td>C0G / NP0, PPS, PP, слюдяний, рідше PET</td>
				<td>для "згладжування" або "виділення" сигналу у аналоговій електроніці, DSP front-end, shaping; мають низький DC bias і aging </td>
				<td></td>
			</tr>
			<tr>
				<td><xmp>Придушення завад</xmp>EMI suppression, Антишумовий елемент</td>
				<td>X/Y safety, feedthrough, X7R</td>
				<td>ВЧ-шум відводиться через конденсатор у землю</td>
				<td>важливо Safety certification, AC voltage rating, Self-healing, Impedance vs Frequency</td>
			</tr>
			<tr>
				<td><xmp>"Запам'ятовування" напруги</xmp>Sample-and-hold у ADC, DAC, analog memory</td>
				<td>C0G, PP, PPS</td>
				<td>мають дуже малий leakage і малу абсорбцію</td>
				<td>важливо Leakage current (nA або менше), Dielectric absorption (точність), Stability, ESR (швидкість зарядки)</td>
			</tr>
			<tr>
				<td><xmp>Демпферні кола</xmp>(Snubber/ pulse)</td>
				<td>PP, pulse capacitors</td>
				<td>Гасить перенапруги, дзвін, імпульси, що виникають від паразитних індуктивностей чи швидкого перемикання MOSFET/IGBT</td>
				<td>важливо: імпульсне навантаження (Pulse Current), швидкість зміни напруги (dV/dt > 1000 V/µs), ESR, Peak Current (імпульси), Self-healing</td>
			</tr>
			<tr>
				<td><xmp>Компенсація реактивної потужності</xmp></td>
				<td>PP, motor capacitors</td>
				<td>для компенсації реактивного струму від двигунів</td>
				<td></td>
			</tr>
			<tr>
				<td><xmp>Накопичення енергії</xmp> у flash, pulse lasers, railgun, backup, UPS</td>
				<td>електроліти, PP pulse, суперкапи</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><xmp>Для аудіо</xmp></td>
				<td>краще поліпропілен, PPS, C0G</td>
				<td></td>
				<td>важливо absorption &lt; 0.1%</td>
			</tr>
			<tr>
				<td><xmp>Для високої точності</xmp></td>
				<td>C0G/NP0 або плівкові</td>
				<td></td>
				<td>TKE &lt; 100 ppm/°C</td>
			</tr>
			<tr>
				<td><xmp>Для високої напруги</xmp></td>
				<td>плівкові або спеціальні HV</td>
				<td></td>
				<td>важливо Self-healing, Lifetime</td>
			</tr>
			<tr>
				<td><xmp>Для імпульсних режимів</xmp></td>
				<td>із низьким ESR і високим ripple current</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><xmp>Для RF</xmp></td>
				<td>із мінімальним ESL (C0G, слюдяні)</td>
				<td></td>
				<td>важливо Q > 100 + stability; tanδ &lt;&lt; 0.01</td>
			</tr>
		</table>

		<table border="1">
			<tr>
				<th colspan="2" id="A5">Практична шпаргалка по підбору конденсатора</th>
			</tr>
			<tr>
				<td>універсально</td>
				<td>X7R</td>
			</tr>
			<tr>
				<td>точність</td>
				<td>C0G, можна РР, PPS</td>
			</tr>
			<tr>
				<td>великі струми</td>
				<td>РР</td>
			</tr>
			<tr>
				<td>імпульси</td>
				<td>РР</td>
			</tr>
			<tr>
				<td>великий запас енергії</td>
				<td>електроліт</td>
			</tr>
			<tr>
				<td>велика ємність</td>
				<td>електроліт</td>
			</tr>
			<tr>
				<td>CPU / FPGA / DDR / GPU</td>
				<td>MLCC, X7R (100 nF, 1 µF, 10 µF у 0402, 0201)</td>
			</tr>
			<tr>
				<td>analog/ADC</td>
				<td>C0G, PPS, PP (малий leakage current)</td>
			</tr>
			<tr>
				<td>VRM (цифрова електроніка)</td>
				<td>polymer + MLCC</td>
			</tr>
				<td>RF</td>
				<td>C0G, маленькі корпуси і короткі доріжки, слюдяні</td>
			</tr>
			<tr>
				<td>живлення</td>
				<td>X7R + low ESR/полімер</td>
			</tr>
			<tr>
				<td>дешеві масові схеми</td>
				<td>X5R / PET</td>
			</tr>
			<tr>
				<td>мережа</td>
				<td>X/Y</td>
			</tr>
			<tr>
				<td>backup</td>
				<td>supercap</td>
			</tr>
			<tr>
				<td>силова/імпульсна/аудіо</td>
				<td>PP</td>
			</tr>
			<tr>
				<td>лише для простих задач</td>
				<td>85°C electrolytic</td>
			</tr>
			<tr>
				<td>краще уникати</td>
				<td>Y5V</td>
			</tr>
			<tr>
				<td colspan="2" align="center"><b>На які параметри варто дивитися</b></td>
			</tr>
			<tr>
				<td>електроліти</td>
				<td>Lifetime vs Temperature</td>
			</tr>
			<tr>
				<td>точність</td>
				<td>графік Capacitance vs Temperature; TKE &lt; 100 ppm/°C</td>
			</tr>
			<tr>
				<td>накопичення енергії</td>
				<td>ємність + ESR</td>
			</tr>
			<tr>
				<td>робота на ВЧ</td>
				<td>ESL + SRF, графік Impedance vs Frequency</td>
			</tr>
			<tr>
				<td>задання часу</td>
				<td>стабільність</td>
			</tr>
			<tr>
				<td>робота в RF</td>
				<td>Q (> 100) + tanδ</td>
			</tr>
			<tr>
				<td>фільтр для БЖ</td>
				<td>ripple current, графік ESR vs Frequency</td>
			</tr>
			<tr>
				<td>імпульсні БЖ</td>
				<td>Ripple current vs Frequency; Ripple > 1 A</td>
			</tr>
			<tr>
				<td>робота з імпульсами</td>
				<td>dV/dt > 1000 V/µs</td>
			</tr>
			<tr>
				<td>VRM (регулятор напруги на відеокарті)</td>
				<td>ESR &lt; 10 мΩ</td>
			</tr>
			<tr>
				<td>Sample-and-hold(збереження значення напруги)</td>
				<td>leakage &lt; nA</td>
			</tr>
			<tr>
				<td>аудіо</td>
				<td>absorption &lt; 0.1%</td>
			</tr>
			<tr>
				<td>MLCC живлення</td>
				<td>X7R + запас по напрузі ×2</td>
			</tr>
			<tr>
				<td>Long life PSU</td>
				<td>105–125°C low ESR</td>
			</tr>
			<tr>
				<td>стоїть у 220 В</td>
				<td>safety class</td>
			</tr>
		</table>
		<table border="1">
			<tr>
				<th colspan="2" id="A6">Важливі Рекомендації</th>
			</tr>
			<tr>
				<td>У блоках живлення</td>
				<td>100 µF electrolytic + 100 nF X7R</td>
			</tr>
			<tr>
				<td>Для MLCC конденсаторів</td>
				<td>брати запас по напрузі ×2…×4 (наприклад, для 5В краще 16 В MLCC), запас ємності ×2 через DC bias (див. графік Capacitance vs DC Bias)</td>
			</tr>
			<tr>
				<td>Для електролітів</td>
				<td>105°C значно краще за 85°C, а 125°C ще краще</td>
			</tr>
			<tr>
				<td>Закон Арреніуса</td>
				<td>Кожні -10°C приблизно подвоюють ресурс (105°C → добре, 125°C → excellent)</td>
			</tr>
			<tr>
				<td colspan="2">Важливо: електроліти на ВЧ працюють як індуктивність</td>
			</tr>
			<tr>
				<td>Рекомендовані запаси</td>
				<td>напруга = ×1.5…×2; Ripple current = ×1.5; запас по температурі</td>
			</tr>
			<tr>
				<td colspan="2">Паралельне включення дає менший ESR і менший ESL; послідовне включення використовується для високої напруги (із балансувальними резисторами)</td>
			</tr>
			<tr>
				<td>Вебсайти для пошуку конденсаторів</td>
				<td>
					<a href="https://www.vishay.com">vishay</a>, 
					<a href="https://www.mouser.com">mouser</a>, 
					<a href="https://www.digikey.com">digikey</a>
				</td>
			</tr>
			<tr>
				<td>APPLICATION NOTES</td>
				<td>реальні схеми, типові помилки, реальні режими: 
					<a href="https://www.vishay.com">vishay.com</a>, 
					<a href="https://yageogroup.com">yageogroup.com</a>, 
					<a href="https://www.murata.com">murata.com</a>, 
					<a href="https://www.tdk.com">tdk.com</a>, 
					<a href="https://www.nichicon.com">nichicon.com</a>
				</td>
			</tr>
		</table>

		<table border="1">
			<tr>
				<th colspan="3" id="A7">Класифікація конденсаторів</th>
			</tr>
			<tr>
				<td rowspan="4"><xmp>За діелектриком</xmp></td>
				<td>Органічні</td>
				<td>паперові, плівкові</td>
			</tr>
			<tr>
				<td>Неорганічні</td>
				<td>керамічні, слюдяні, скляні</td>
			</tr>
			<tr>
				<td>Оксидні</td>
				<td>алюмінієві електролітичні, танталові, ніобієві</td>
			</tr>
			<tr>
				<td>Газові</td>
				<td>повітряні, вакуумні</td>
			</tr>
			<tr>
				<td rowspan="2"><xmp>За полярністю</xmp></td>
				<td>Полярні</td>
				<td>алюмінієві електроліти, танталові</td>
			</tr>
			<tr>
				<td>Неполярні</td>
				<td>кераміка, плівка, слюдяні</td>
			</tr>
			<tr>
				<td rowspan="8"><xmp>За конструкцією</xmp></td>
				<td>Дискові</td>
				<td>Кераміка</td>
			</tr>
			<tr>
				<td>Трубчасті</td>
				<td>Старі ВЧ-конструкції</td>
			</tr>
			<tr>
				<td>Намотані</td>
				<td>Фольга + діелектрик у рулоні</td>
			</tr>
			<tr>
				<td>Багатошарові (MLCC)</td>
				<td>Сотні шарів кераміки</td>
			</tr>
			<tr>
				<td>Фольгові</td>
				<td>Окремі шари металу</td>
			</tr>
			<tr>
				<td>Металізовані</td>
				<td>Метал напилений на діелектрик</td>
			</tr>
			<tr>
				<td>Прохідні</td>
				<td>Для EMI-фільтрів</td>
			</tr>
			<tr>
				<td>Суперконденсатори</td>
				<td>Іоністори</td>
			</tr>
		</table>

		<table border="1" style="padding: 5px;">
			<tr>
				<th colspan="14"  id="A8">Узагальнені діапазони параметрів різних типів конденсаторів</th>
			</tr>
			<tr>
				<td><b>Тип</b></td>
				<td><b>Якість</b></td>
				<td><b>Ємність</b></td>
				<td><b>TCC</b></td>

				<td><b>ESR</b></td>
				<td><b>tanδ</b></td>
				<td><b>Leakage</b></td>
				<td><b>Ripple Current</b></td>

				<td><b>SRF</b></td>
				<td><b>DC Bias</b></td>
				<td><b>Absorption</b></td>
				<td><b>Useful Life</b></td>

				<td><b>Q-factor</b></td>
				<td><b>dV/dt</b></td>
			</tr>
			<tr>
				<td>Кераміка Class 1 (C0G/NP0)</td>
				<td>майже ідеальний</td>
				<td>1 pF – 100 nF</td>
				<td>0 ±30 ppm/°C</td>

				<td>&lt; 10 мΩ</td>
				<td>0.0001–0.001</td>
				<td>pA–nA</td>
				<td>дуже великий для свого розміру</td>
				<td>ВЧ: 10 MHz – кілька GHz</td>
				<td>&lt; 1%</td>
				<td>0.05–0.1%</td>
				<td>десятки років</td>
				<td>1000–10000</td>
				<td>високий</td>
			</tr>
			<tr>
				<td>Кераміка Class 2 (X7R)</td>
				<td>дуже хороший компроміс</td>
				<td>100 pF – 100 µF</td>
				<td>±15%</td>
				<td>2–30 мΩ</td>
				<td>0.01–0.03</td>
				<td>nA–µA</td>
				<td>високий</td>
				<td>ВЧ: 1 MHz – 1 GHz</td>
				<td>-10…-60%</td>
				<td>1–2.5%</td>
				<td>10–20 років</td>
				<td>50–500</td>
				<td>середній/високий</td>
			</tr>
			<tr>
				<td>Кераміка X5R</td>
				<td>хороший, але менш стабільний</td>
				<td>1 nF – 100 µF</td>
				<td>±15%</td>
				<td>3–50 мΩ</td>
				<td>0.02–0.05</td>
				<td>nA–µA</td>
				<td>високий</td>
				<td>MHz – сотні MHz</td>
				<td>-20…-80%</td>
				<td>2–5%</td>
				<td>10–15 років</td>
				<td>20–200</td>
				<td>середній</td>
			</tr>
			<tr>
				<td>Y5V / Z5U</td>
				<td>краще уникати</td>
				<td>велика</td>
				<td>+22/-82%</td>
				<td>десятки мΩ</td>
				<td>0.03–0.1</td>
				<td>µA</td>
				<td>середній</td>
				<td>низький</td>
				<td>до -90%</td>
				<td>5–15%</td>
				<td>середній</td>
				<td>низький</td>
				<td>середній</td>
			</tr>
			<tr>
				<td>Поліпропілен (PP)</td>
				<td>преміальний</td>
				<td>100 pF – сотні µF</td>
				<td>±100…300 ppm/°C</td>
				<td>1–20 мΩ</td>
				<td>0.0002–0.002</td>
				<td>nA</td>
				<td>дуже великий</td>
				<td>сотні kHz – MHz</td>
				<td>майже немає</td>
				<td>0.01–0.05%</td>
				<td>20–50 років</td>
				<td>1000+</td>
				<td>excellent (до десятків kV/µs)</td>
			</tr>
			<tr>
				<td>Поліестер (PET)</td>
				<td>нормальний масовий</td>
				<td>nF – десятки µF</td>
				<td>±400…1000 ppm/°C</td>
				<td>10–100 мΩ</td>
				<td>0.003–0.01</td>
				<td>nA–µA</td>
				<td>середній</td>
				<td>сотні kHz</td>
				<td>немає</td>
				<td>0.2–0.5%</td>
				<td>10–30 років</td>
				<td>100–500</td>
				<td>хороший</td>
			</tr>
			<tr>
				<td>PPS</td>
				<td>дуже якісний</td>
				<td>pF – µF</td>
				<td>±50 ppm/°C</td>
				<td>дуже малий</td>
				<td>0.0005–0.002</td>
				<td>дуже малий</td>
				<td>високий</td>
				<td>MHz</td>
				<td>майже немає</td>
				<td>&lt;0.05%</td>
				<td>дуже великий</td>
				<td>дуже високий</td>
				<td>високий</td>
			</tr>
			<tr>
				<td>Алюмінієвий електроліт</td>
				<td>0.1 µF – 100 000 µF</td>
				<td>“робоча конячка”</td>
				<td>сильний drift</td>
				<td>0.05–2 Ω</td>
				<td>0.02–0.2</td>
				<td>µA–mA</td>
				<td>100 mA – кілька A</td>
				<td>НЧ: kHz</td>
				<td>немає</td>
				<td>5–15%</td>
				<td>1000–10000 h</td>
				<td>низький</td>
				<td>низький</td>
			</tr>
			<tr>
				<td>Полімерний електроліт</td>
				<td>excellent для живлення</td>
				<td>10–1000 µF</td>
				<td>good</td>
				<td>3–20 мΩ</td>
				<td>0.01–0.05</td>
				<td>µA</td>
				<td>кілька–десятки A</td>
				<td>сотні kHz – MHz</td>
				<td>немає</td>
				<td>кілька %</td>
				<td>5000–20000 h</td>
				<td>середній</td>
				<td>хороший</td>
			</tr>
			<tr>
				<td>Танталовий</td>
				<td>хороший, але чутливий</td>
				<td>0.1–1000 µF</td>
				<td>good</td>
				<td>20–300 мΩ</td>
				<td>0.02–0.08</td>
				<td>µA</td>
				<td>середній</td>
				<td>до ~100 kHz–MHz</td>
				<td>малий</td>
				<td>1–5%</td>
				<td>великий</td>
				<td>середній</td>
				<td>обмежений</td>
			</tr>
			<tr>
				<td>Слюдяний</td>
				<td>дуже якісний</td>
				<td>pF – nF</td>
				<td>excellent</td>
				<td>дуже малий</td>
				<td>&lt;0.001</td>
				<td>дуже малий</td>
				<td>високий</td>
				<td>RF</td>
				<td>немає</td>
				<td>дуже мала</td>
				<td>десятки років</td>
				<td>1000–10000</td>
				<td>excellent</td>
			</tr>
			<tr>
				<td>Суперконденсатор</td>
				<td></td>
				<td>0.1 F – 5000 F</td>
				<td>сильний</td>
				<td>1 мΩ – Ω</td>
				<td>великий</td>
				<td>mA</td>
				<td>дуже великий</td>
				<td>дуже низький</td>
				<td>немає</td>
				<td>дуже велика</td>
				<td>сотні тисяч циклів</td>
				<td>низький</td>
				<td>низький</td>
			</tr>
		</table>

		
	</div>	
	<p>&nbsp;</p>
	<footer>По матеріалам чату GPT і конспектів лекцій в універі</footer>

</body>
</html>