<!DOCTYPE html>
<html>
<head>
	<title>Комутаційні елементи</title>
	<link rel="stylesheet" type="text/css" href="../css/componentsStyle.css">
</head>
<body>
	<div id="content">
		<font size="6"><center>Комутаційні елементи</center></font>
		<nav>Розділи:
            <a href="#A1">Що таке комутаційні елементи</a> | 
            <a href="#A2">Класифікація</a> | 
            - <a href="#A10">Практичні рекомендації по вибору перемикача</a> | <br>
            - <a href="#A3">Параметри механічних перемикачів (кнопок, тумблерів, повзункових, роторних, кінцевих)</a> | <br>
            - <a href="#A4">Електромагнітне реле: принцип роботи</a> | 
            <a href="#A5">Види реле</a> | <a href="#A6">Параметри реле</a> | 
            <a href="#A7">Практичні рекомендації по вибору реле</a>
            
        </nav>
		<table border="1" width="100%">
			<tr>
				<th id="A1">Що таке комутаційні елементи</th>
			</tr>
			<tr>
				<td>Комутаційні елементи — це компоненти, які замикають коло, розмикають коло або перемикають електричні з’єднання між різними лініями.</td>
			</tr>
		</table>

        <table border="1">
            <tr>
                <th id="A2" colspan="5">Класифікація</th>
            </tr>
            <tr>
                <td rowspan="5">
                    <xmp>1. Механічні</xmp> - 
                    фізичний контакт металу з металом
                </td>
                <td>
                    <b>1.1 Кнопки (Push Button)</b>: мембранні, тактові, антивандальні, промислові, з/без фіксації<br>
                    - NO (Normally Open) — нормально розімкнена;<br>
                    - NC (Normally Closed) — нормально замкнена.
                </td>
                <td>
                    людина натискає кнопку → контакти змінюють стан<br>
                    <img src="https://e7.pngegg.com/pngimages/666/479/png-clipart-electrical-switches-electronic-symbol-electronics-relay-electronic-circuit-on-off-miscellaneous-angle-thumbnail.png" width="100px">
                    <img src="https://i.sstatic.net/2QnT6.png" width="100px">
                </td>
                <td>дешеві, прості, надійні, не потребують живлення, але потребують ручного керування, мають обмежену швидкість, контакти зношуються, мають брязкіт</td>
                <td>використовують у панелях керування, клавіатурах, побутовій техніці, промисловій автоматиці</td>
            </tr>
            <tr>
                <td><b>1.2 Тумблери (Toggle Switch)</b>: однополюсні, двополюсні, багатопозиційні</td>
                <td>
                    Механічне перемикання важелем<br>
                    <img src="https://res.cloudinary.com/rspoc/image/upload/f_auto/q_auto/v1731592735/RS%20CONTENTFUL/Discovery/Other%20image%20assets/Electrical%20Symbols/Switch%20and%20Relay%20Symbols/42971_RS_000869_H3_Switch_Relay_Symbol_SPDT_Toggle_Switch-01.png" width="100px">
                </td>
                <td>чітка фіксація, простота, висока надійність, але мають невелику швидкість і механічний знос</td>
                <td>використовують у блоках живлення, промислових панелях, лаборатоному обладнанні</td>
            </tr>
            <tr>
                <td><b>1.3 Повзункові перемикачі (Slide Switch)</b></td>
                <td><img src="https://www.elprocus.com/wp-content/uploads/Switch-Symbol-2.jpg" width="100px"></td>
                <td>компактні, дешеві, але мають малий допустимий струм і швидке забруднення</td>
                <td>використовують у портативній електроніці</td>
            </tr>
            <tr>
                <td><b>1.4 Роторні перемикачі (Rotary Switch)</b></td>
                <td>
                    Контакти перемикаються обертанням<br>
                    <img src="https://www.circuitbasics.com/wp-content/uploads/2020/05/rotary-3-position.png" width="100px">
                </td>
                <td>мають багато позицій і хорошу механічну надійність, пле великі габарити і складні</td>
                <td>використовують у вимірювальних приладах, селекторах режимів</td>
            </tr>
            <tr>
                <td><b>1.5 Кінцеві вимикачі (Limit Switch)</b></td>
                <td>
                    Спрацьовують від механічного руху об’єкта<br>
                    <img src="https://gallery.proficad.com/Preview/1911.s.png" width="100px">
                </td>
                <td>простота, точність, але механічний знос</td>
                <td>використовують у ЧПУ, ліфтах, робототехніці</td>
            </tr>
            <tr>
                <td>
                    <xmp>2. Електромеханічні</xmp>
                </td>
                <td><b>2.1 Реле (Relay)</b>: електромагнітні, герконові, поляризовані, контактори</td>
                <td>
                    Котушка створює магнітне поле → замикає/розмикає контакти<br>
                    <img src="https://www.electrical-symbols.com/images/electronic-symbols/relays/relay_1.png" width="100px">
                </td>
                <td>мають гальванічну розв'язку, прості, стійкі до перенапруг, можуть працювати з великими струмами, але шумні, повільні, енергозалежні, мають знос контактів</td>
                <td>використовують у автоматиці, силовій електроніці, електродвигунах, мережі 220/380 В</td>
            </tr>
            <tr>
                <td rowspan="5"><xmp>3. Напівпровідникові</xmp></td>
                <td rowspan="3"><b>3.1 Транзистори</b></td>
                <td>
                    Біполярні або BJT (Bipolar Junction Transistor) - малий струм бази керує великим струмом колектора; є NPN і PNP<br>
                    <img src="https://components101.com/sites/default/files/inline-images/BJT-Symbol.png" width="100px">
                </td>
                <td>дешеві, прості, але мають багато втрат і потребують струму керування</td>
                <td>використовують у підсилювачах, низькопотужній комунікації</td>
            </tr>
            <tr>
                <td>
                    Польовий транзистор з ізольованим затвором або MOSFET - напруга на затворі керує каналом<br>
                    <img src="https://components101.com/sites/default/files/inline-images/MOSFET-Symbol.png" width="100px">
                </td>
                <td>висока швидкість, малий опір, низькі втрати, велика ефективність, але чутливість до статичної електрики, складність драйверів.</td>
                <td>використовують у імпульсних блоках живлення, двигунах, DC-DC перетворювачах</td>
            </tr>
            <tr>
                <td>
                    Біполярний транзистор з ізольованим затвором або IGBT<br>
                    <img src="https://www.build-electronic-circuits.com/wp-content/uploads/2023/07/Transistor-IGBT.png" width="100px">
                </td>
                <td>працюють з великими струмами і напругами, але повільніші за MOSFET</td>
                <td>використовують у інверторах, електромобілях, частотних перетворювачах</td>
            </tr>
            <tr>
                <td rowspan="2"><b>3.2 Тиристори</b></td>
                <td>Керований кремнієвий випрямляч або SCR - після відкриття сам залишається відкритим до падіння струму</td>
                <td><img src="https://www.shutterstock.com/image-vector/siliconcontrolled-rectifier-scr-symbol-electronic-260nw-2175220655.jpg" width="100px"></td>
                <td>використовують у регуляторах потужності, випрямлячах</td>
            </tr>
            <tr>
                <td>Двонаправлений тиристор або симістор або TRIAC - працює з AC (Alternating Current — змінний струм)</td>
                <td><img src="https://appliantology.org/uploads/monthly_2016_09/large.Triac_schematic_symbol.png.58ba7d6b7f7bfad223dcaf52cbcc0cc7.png" width="100px"></td>
                <td>використовують у димерах, регуляторах освітлення</td>
            </tr>
            <tr>
                <td><xmp>4. Оптичні комутаційні елементи</xmp></td>
                <td><b>Оптрони (Optocoupler)</b></td>
                <td>
                    Світлодіод світить на фототранзистор.<br>
                    <img src="https://www.gkagrawal.com/wp-content/uploads/2022/10/Capture-10.png" width="100px">
                </td>
                <td>Переваги: ізоляція, захист логіки. Недоліки: невелика швидкість, деградація світлодіода.</td>
                <td>використовують для ізоляції мікроконтроллерів, у драйверах силових ключів</td>
            </tr>
            <tr>
                <td colspan="2"><xmp>5. Твердотільні реле (SSR)</xmp></td>
                <td>
                    Оптрон + напівпровідниковий ключ<br>
                    <img src="https://www.omch.com/wp-content/uploads/2025/07/solid-state-relay-diagram1.webp" width="100px">
                </td>
                <td>
                    Переваги: безшумність, велика швидкість, довговічність, відсутність іскри.<br>
                    Недоліки: нагрів, витік струму, дорожчі</td>
                <td>використовують у промисловій атоматиці, PLC (Programmable Logic Controller — програмований логічний контролер)</td>
            </tr>
            <tr>
                <td colspan="2"><xmp>6. MEMS-перемикачі</xmp> (мікроелектромеханічна система)</td>
                <td></td>
                <td>Переваги: дуже малі, швидкі, малі втрати. Недоліки: дорогі, складні у виробництві.</td>
                <td>використовують у RF-техніці, телекомунікації</td>
            </tr>
        </table>

        <table border="1">
            <tr>
                <th id="A3" colspan="3">Параметри механічних перемикачів</th>
            </tr>
            <tr>
                <td><xmp>1. Номінальна напруга</xmp> (Rated Voltage)</td>
                <td>максимальна напруга, яку виробник гарантує комутувати (наприклад, 12 В DC, 30 В DC, 125 В AC, 250 В AC)</td>
                <td>Для електроніки 12–30 В достатньо. Для мережі 250 В AC — хороший показник. Для промисловості 400–690 В AC — дуже хороший.</td>
            </tr>
            <tr>
                <td><xmp>2. Номінальний струм</xmp> (Rated Current)</td>
                <td>Максимальний струм через контакти (Наприклад, 50 мА, 100 мА, 3 А)</td>
                <td>Хороші значення для тактових кнопок = 50-100 мА; панельна кнопка = 3-5 А; тумблер = 5-15 А; контакторний перемикач = 20-100 А</td>
            </tr>
            <tr>
                <td><xmp>3. Опір контактів</xmp> (Contact Resistance)</td>
                <td>
                    Опір замкнених контактів. Ідеально було б 0 Ом, але реально - 5 мОм, 10 мОм, 50 мОм<br>
                    При великих струмах і великому опорі контакт буде сильно грітися (P = I²R)
                </td>
                <td>&lt;10 мОм - відмінно; 10–50 мОм - добре; 50–100 мОм - нормально; >200 мОм - погано</td>
            </tr>
            <tr>
                <td><xmp>4. Опір ізоляції</xmp> (Insulation Resistance)</td>
                <td>Опір між розімкненими контактами, фактично показує якість ізоляції (наприклад, 1000 MΩ min @ 500 VDC)</td>
                <td>100 МОм - мінімум; 500 МОм - добре; 1000 МОм - дуже добре; >1 ГОм - відмінно</td>
            </tr>
            <tr>
                <td><xmp>5. Електрична міцність ізоляції</xmp> (Dielectric Strength або Dielectric Withstanding Voltage)</td>
                <td>Напруга, яку ізоляція витримує без пробою</td>
                <td>500 В - мінімум; 1000 В - добре; 1500 В - дуже добре; 2500 В+ - промисловий клас</td>
            </tr>
            <tr>
                <td><xmp>6. Механічний ресурс</xmp> (Mechanical Life)</td>
                <td>Кількість спрацювань без навантаження, вимірюється в циклах</td>
                <td>10 тис. - дешевий виріб; 50 тис. - середній; 100 тис. - хороший; 1 млн - дуже хороший; 10 млн+ - промисловий клас</td>
            </tr>
            <tr>
                <td><xmp>7. Електричний ресурс</xmp> (Electrical Life)</td>
                <td>Кількість перемикань під навантаженням; менший за механічний за рахунок іскор, ерозії контактів, окислення</td>
                <td>10 тис. - мінімум; 50 тис. - добре; 100 тис. - дуже добре; 500 тис.+ - промисловий клас</td>
            </tr>
            <tr>
                <td><xmp>8. Час брязкоту контактів</xmp> (Bounce Time)</td>
                <td>Після замикання контакти кілька разів відскакують: мікроконтролер бачить "101011" замість "1"</td>
                <td>&lt; 1 мс - відмінно; 1–5 мс - добре; 5–15 мс - нормально; >20 мс - погано</td>
            </tr>
            <tr>
                <td><xmp>9. Зусилля спрацювання</xmp> (Operating Force або Actuation Force)</td>
                <td>Сила натискання, вимірюється у Ньютонах (N) або gf (gram-force — грам-сила)</td>
                <td>0.5 N - дуже легка; 1–2 N - комфортна; 3–5 N - туга; >10 N - важка</td>
            </tr>
            <tr>
                <td><xmp>10. Хід кнопки</xmp>(Travel)</td>
                <td>Відстань переміщення до спрацювання (мм)</td>
                <td>Тактова = 0.1–0.5 мм; Панельна = 1–3 мм; Промислова = 3–10 мм</td>
            </tr>
            <tr>
                <td><xmp>11. Попередній хід</xmp>(Pretravel)</td>
                <td>Відстань до моменту спрацювання</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>12. Додатковий хід після спрацювання</xmp>(Overtravel)</td>
                <td>Важливий для довговічності</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>13. Сила повернення пружини</xmp>(Return Force)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Специфічні параметри тумблерів</b></td>
            </tr>
            <tr>
                <td><xmp>14. Кут перемикання</xmp> (Switching Angle)</td>
                <td>Наприклад, 15°, 25°, 40°</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>15. Довжина важеля</xmp> (Lever Length)</td>
                <td>Впливає на зручність та момент сили</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Специфічні параметри повзункових перемикачів</b></td>
            </tr>
            <tr>
                <td><xmp>16. Довжина переміщення повзунка</xmp> (Slide Travel)</td>
                <td>Наприклад, 2 мм, 4 мм, 6 мм</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>17. Сила фіксації позиції</xmp> (Detent Force)</td>
                <td>Чим більша, тим важче випадково перемкнути.</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Специфічні параметри роторних перемикачів</b></td>
            </tr>
            <tr>
                <td><xmp>18. Кількість позицій</xmp> (Number of Positions)</td>
                <td>Наприклад, 2, 6, 12, 24</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>19. Кут між позиціями</xmp>(Indexing Angle)</td>
                <td>Наприклад, 15°, 30°, 45°</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>20. Крутний момент обертання</xmp>(Rotational Torque)</td>
                <td>Вимірюється в N·m (ньютон-метр) або N·cm (ньютон-сантиметр)</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>21. Shorting (Make Before Break)</xmp></td>
                <td>Спочатку новий контакт замикається, потім старий розмикається,на мить обидва з'єднані</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>22. Non-Shorting (Break Before Make)</xmp></td>
                <td>Спочатку старий контакт розмикається, потім новий замикається; для більшості електронних схем це безпечніший варіант</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Специфічні параметри кінцевих перемикачів</b></td>
            </tr>
            <tr>
                <td><xmp>23. Положення спрацювання</xmp>(Operating Position (OP))</td>
                <td>Точка, де контакт змінює стан</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>24. Pretravel (PT)</xmp></td>
                <td>Шлях від початку руху до спрацювання</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>25. Overtravel (OT)</xmp></td>
                <td>Допустиме перевищення після спрацювання</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>26. Differential Travel (DT)</xmp>(Гістерезис)</td>
                <td>Різниця між точкою спрацювання і точкою повернення</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>27. Release Position (RP)</xmp></td>
                <td>Точка повернення контактів</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>28. Repeatability</xmp></td>
                <td>Повторюваність</td>
                <td>±0.5 мм - грубо; ±0.1 мм - добре; ±0.01 мм - дуже добре</td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>На які параметри дивляться досвідчені розробники першими</b></td>
            </tr>
            <tr>
                <td><xmp>Для слабкострумової електроніки</xmp></td>
                <td colspan="2">Contact Resistance, Bounce Time, Electrical Life.</td>
            </tr>
            <tr>
                <td><xmp>Для мережі 230 В</xmp></td>
                <td colspan="2">Rated Current, Rated Voltage, Electrical Life, Dielectric Strength</td>
            </tr>
            <tr>
                <td><xmp>Для промислової автоматики</xmp></td>
                <td colspan="2">Electrical Life, Repeatability, Overtravel, IP Rating (ступінь захисту оболонки від пилу та вологи, наприклад IP67), Operating Force.</td>
            </tr>
        </table>

        <table border="1">
            <tr>
                <th id="A4" colspan="2">Принцип роботи електромагнітного реле</th>
            </tr>
            <tr>
                <td>У найпростішому випадку реле складається з котушки (Electromagnetic coil), якору (armature), контактів (NC/NO Contacts) і пружини (Spring)</td>
                <td rowspan="2">
                    <img src="https://instrumentationtools.com/wp-content/uploads/2022/07/What-is-an-Electromechanical-Relay.png" width="300px">
                </td>
            </tr>
            <tr>
                <td>
                    1. Котушка складається із мідного дроту, намотаного на феромагнітне осердя<br>
                    2. При протіканні струму котушка утворює магнітне поле.<br>
                    3. Під дією магнітного поля якір притягується до осердя котушки.<br>
                    4. Притягнувшись до осердя з одного боку, з іншого боку якір замикає NO-контакт/ розмикає NC-контакт.<br>
                    5. Після вимкнення котушки пружина повертає якір назад = контакт NO розмикається/ NC замикається.
                </td>
            </tr>
        </table>

        <table border="1">
            <tr>
                <th id="A5" colspan="5">Види реле</th>
            </tr>
            <tr>
                <td><xmp>Реле постійного струму</xmp>(DC Relay)</td>
                <td>Після притягання якір утримується постійним магнітним полем</td>
                <td rowspan="2">Переваги: проста конструкція, дешевизна, компактність. Недоліки: не працює напряму від AC без спеціального виконання.</td>
                <td rowspan="2">Типові характеристики:<br>
                    - струм = 1–30 А<br>
                    - швидкість = 5–20 мс<br>
                    - механічний ресурс = 1–20 млн<br>
                    - Електричний ресурс = 100 тис–1 млн<br>
                    - споживання в утриманні = постійне
                </td>
                <td rowspan="2">використовують в побутовій електроніці, автоматиці, мікроконтроллерних системах, автомобільній техніці, коли потрібні дешевизна, простота, гальванічна розв'язка, струми до кількох десятків ампер</td>
            </tr>
            <tr>
                <td><xmp>Реле змінного струму</xmp>(AC Relay)</td>
                <td>
                    Полярність мережі змінюється 50 разів на секунду (50 Гц) -> магнітне поле теж проходить через нуль -> якір може почати вібрувати.<br>
                    Для усунення вібрації використовують мідне кільце, яке створює додатковий магнітний потік зі зсувом фази -> поле ніколи повністю не зникає -> якір не дзижчить
                </td>
            </tr>
            <tr>
                <td>
                    <xmp>Поляризоване реле</xmp>(Polarized Relay)<br>
                    <img src="https://www.electricaltechnology.org/wp-content/uploads/2024/01/Polarized-Moving-Iron-Relay.png" width="200px">
                </td>
                <td>Крім котушки містить постійний магніт -> напрям струму визначає куди рухатиметься якір</td>
                <td>має дуже високу чутливість, може спрацьовувати від дуже малого струму, але більш складна конструкція</td>
                <td>
                    Типові характеристики:<br>
                    - струм = 10 мА–5 А<br>
                    - швидкість = 2–10 мс<br>
                    - механічний ресурс = 5–100 млн<br>
                    - Електричний ресурс = 100 тис–10 млн<br>
                    - споживання в утриманні = постійне
                </td>
                <td>використовують в телекомунікації, вимірювальній техніці, автоматиці</td>
            </tr>
            <tr>
                <td><xmp>Бістабільне реле</xmp>(Latching Relay)</td>
                <td>
                    Після перемикання не потребує живлення для утримання стану:<br>
                    1. При подачі короткого імпульсу якір замикає NO-контакт/ розмикає NC-контакт.<br>
                    2. При знеструмленні якір утримується спеціальним вбудованим магнітом або механічною защіпкою.<br>
                    3. При подачі імпульсу зворотньої полярності якір повертається у вихідне положення.
                </td>
                <td>Дозволяє зекономити енергію, зберігати стан після вимкнення живлення, але більш складне в керування</td>
                <td>
                    Типові характеристики:<br>
                    - струм = 1–30 А<br>
                    - швидкість = 3–20 мс<br>
                    - механічний ресурс = 1–20 млн<br>
                    - Електричний ресурс = 100 тис–1 млн<br>
                    - споживання в утриманні = майже 0
                </td>
                <td>використовують в лічильниках, системах резервного живлення, розумних будинках, космічній техніці</td>
            </tr>
            <tr>
                <td>
                    <xmp>Герконове реле</xmp>(Reed Relay)<br>
                    <img src="https://pcbwayfile.s3.us-west-2.amazonaws.com/project/24/02/23/1105157341324.png" width="200px">
                </td>
                <td>
                    1. Осердя у вигляді геркону (reed contact): скляної колби (glass envelope) знаходяться дві феромагнітні пластини (overlap)<br>
                    2. При пропусканні струм через мідну обмотку (coil) виникає магнітне поле, яке замикає контакти, під'єжнані до виводів пластин (reed blade).
                </td>
                <td>
                    дуже швидке (0,2–1 мс), малий опір контактів, герметичність, висока швидкість, довготривала стабільність параметрів, але працює з невеликими струмами (0.01 - 9 А)<br>
                    На відміну від MOSFET, практично не має струму витоку, має дуже малий опір у замкненому стані, позбавлений різних паразитних ефектів напівпровідників, байдужий до напряму струму, опір ізоляції може сягати 10^12 Ом<br>
                    Втім, MOSFET краще підходить для задач, де треба працювати з великими струмами, або для PWM на частотах від сотень Гц, а також для масового виробництва
                </td>
                <td>
                    Типові характеристики:<br>
                    - струм = 10 мА–5 А<br>
                    - швидкість = 0.2–2 мс<br>
                    - механічний ресурс = 10 млн- 1млрд<br>
                    - Електричний ресурс = 1 млн–100 млн<br>
                    - споживання в утриманні = постійне або мале
                </td>
                <td>використовують у вимірювальній техніці, автоматичних тестових стендах (ATE), медичній техніці, радіочастотній техніці, наукове обладнання</td>
            </tr>
            <tr>
                <td><xmp>Контактор</xmp>(Contactor)</td>
                <td>Фактично це велике силове реле: потужна котушка, великий якір, силові контакти, дугогасильна система, яка запобігає виникненню електричної дуги під час вимкнення великих струмів.</td>
                <td>можуть комутувати десятки, сотні, тисячі ампер, але великі, шумні, значне споживання котушки</td>
                <td>
                    Типові характеристики:<br>
                    - струм = 10–2000+ А<br>
                    - швидкість = 10–100 мс<br>
                    - механічний ресурс = 1–30 млн<br>
                    - Електричний ресурс = 10 тис–1 млн<br>
                    - споживання в утриманні = велике
                </td>
                <td>використовують у промислових електродвигунах, енергетиці, ліфтах, опалення вентиляція та кондиціонування (HVAC)</td>
            </tr>
            <tr>
                <td><xmp>Ртутне реле</xmp>(Mercury Relay)</td>
                <td>Містить краплю ртуті: нахил або переміщення контакту замикає коло через ртуть. Сьогодні майже не використовується.</td>
                <td>Майже відсутній брязкіт контактів, але ртуть токсична</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>Гібридне реле</xmp>(Hybrid Relay)</td>
                <td>
                    Твердотільне реле (SSR) + механічне реле:<br>
                    1. Керуючий сигнал вмикає напівпровідник (симистор або тиристор), що дозволяє уникнути брязкоту контактів, виникнення дуги, іскор<br>
                    2. Потім замикаються контакти механічного реле.<br>
                    3. При вимиканні керуючого сигналу контакти розмикаються, а вся потужність знову миттєво переводиться на напівпровідник, який остаточно вимикає ланцюг без жодної іскри.
                </td>
                <td>практично немає електричної дуги, малі втрати, хороша ізоляція, великий ресурс, але складне і висока ціна</td>
                <td>
                    Типові характеристики:<br>
                    - струм = 5–500 А<br>
                    - швидкість = 0,5–10 мс<br>
                    - механічний ресурс = 10–100 млн<br>
                    - Електричний ресурс = 1–100 млн<br>
                    - споживання в утриманні = залежить від конструкції
                </td>
                <td>використовують у промисловій автоматиці, де звичайні реле швидко зношуються, інверторах, системах накопичання енергії (BESS), електромобілях, сонячній енергетиці.</td>
            </tr>
            <tr>
                <td><xmp>Автомобільні реле</xmp></td>
                <td>Це не окремий принцип роботи, а окрема категорія виконання. Працюють у складних умовах: вібрації, пил, волога, температури від -40°C до +125°C.</td>
                <td></td>
                <td>
                    Типові характеристики:<br>
                    - струм = 10–70 А<br>
                    - швидкість = 5–15 мс<br>
                    - механічний ресурс = 1–10 млн<br>
                    - Електричний ресурс = 100 тис–1 млн<br>
                    - споживання в утриманні = постійне
                </td>
                <td>керування стартером, паливним насосом, фарами, вентиляторами, свічками розжарювання дизеля.</td>
            </tr>
            <tr>
                <td><xmp>Реле безпеки</xmp>(Safety Relay)</td>
                <td>Спеціалізований промисловий тип. Мають дубльовані контакти, самодіагностику, контроль залипання.</td>
                <td></td>
                <td>
                    Типові характеристики:<br>
                    - струм = 3–20 А<br>
                    - швидкість = 10–50 мс<br>
                    - механічний ресурс = 10–50 млн<br>
                    - Електричний ресурс = 100 тис–10 млн<br>
                    - споживання в утриманні = постійне
                </td>
                <td>використовують у верстатах (Аварійна кнопка Stop), робототехніка (безпечна зупинка), ліфти (контроль дверей і гальм), преси та штампи (захист оператора)</td>
            </tr>
            <tr>
                <td><xmp>Сигнальне реле</xmp></td>
                <td>Реле для комутації малих сигналів (струми від мкА до сотень мА; напруги до 30–60 В.). може бути електромагнітним, герконовим, поляризованим, бістабільним.</td>
                <td>Ознаки: маленькі контакти, низька потужність котушки, часто золоті контакти, висока чутливість.</td>
                <td>
                    Типові характеристики:<br>
                    - струм = 10 мА–2 А<br>
                    - швидкість = 2–10 мс<br>
                    - механічний ресурс = 5–100 млн<br>
                    - Електричний ресурс = 100 тис–10 млн<br>
                    - споживання в утриманні = постійне
                </td>
                <td>використовують у аудіотехніці, вимірювальних приладах, телекомунікації, автоматиці</td>
            </tr>
        </table>

        <table border="1">
            <tr>
                <th id="A6" colspan="3">Параметри реле</th>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>1. Контактна система (Contact Specifications)</b></td>
            </tr>
            <tr>
                <td><xmp>1.1. Конфігурація контактів</xmp>(Contact Form / Contact Arrangement / Contact Configuration)</td>
                <td>
                    - Однополюсний однопозиційний (SPST) - ON/OFF<br>
                    - Однополюсний двопозиційний (SPDT) - перемикає між двома виходами<br>
                    - Двополюсний двопозиційний (DPDT) - фактично два SPDT в одному корпусі<br>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>1.2. Номінал контактів</xmp>(Contact Rating)</td>
                <td>Наприклад "10 A 250 VAC" означає, що контакти можуть комутувати до 10 А до 250 В AC</td>
                <td>Хороші значення: мініатюрні реле = 1–5 А; промислові = 10–16 А; контактори = 50–1000 А</td>
            </tr>
            <tr>
                <td><xmp>1.3. Максимальна напруга комутації</xmp>(Maximum Switching Voltage)</td>
                <td>Наприклад: 300 VAC 30 VDC</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>1.4. Максимальний струм комутації</xmp>(Maximum Switching Current)</td>
                <td>Приклад: 16 A</td>
                <td>Працювати бажано на 70–80 % від заданого значення</td>
            </tr>
            <tr>
                <td><xmp>1.5. Максимальна комутована потужність</xmp>(Maximum Switching Power)</td>
                <td>Приклад: 4000 VA 300 W (VA (вольт-ампер) вказується для AC, W (ват) - для DC)</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>1.6. Опір контактів</xmp>(Contact Resistance)</td>
                <td></td>
                <td>&lt;20 мОм - відмінно; 20–50 мОм - добре; 50–100 мОм - нормально; >100 мОм - слабко</td>
            </tr>
            <tr>
                <td><xmp>1.7. Матеріал контактів</xmp>(Contact Material)</td>
                <td>Дуже важливий параметр</td>
                <td>
                    Ag (Silver) - має низький опір, але окислюється;<br>
                    AgNi (Silver Nickel) - найпоширеніший варіант<br>
                    AgSnO₂ (Silver Tin Oxide) - срібло-оксид олова - дуже стійкий до дуги<br>
                    Au (Gold) - для слабких струмів (датчики)
                </td>
            </tr>
            <tr>
                <td><xmp>1.8. Мінімальне навантаження</xmp>(Minimum Switching Load)</td>
                <td>Наприклад, 5 V 10 mA.</td>
                <td>Для надійної роботи контактам потрібен мінімальний струм. Якщо навантаження менше: контакт може окислюватися, зростає нестабільність.</td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>2.Котушка (Coil Specifications)</b></td>
            </tr>
            <tr>
                <td><xmp>2.1. Номінальна напруга котушки</xmp>(Nominal Coil Voltage)</td>
                <td>Напруга, на яку розраховане реле на тривалу роботу</td>
                <td>Для промисловості найчастіше 24 VDC.</td>
            </tr>
            <tr>
                <td><xmp>2.2. Опір котушки</xmp>(Coil Resistance)</td>
                <td>Дозволяє обчислити струм: I = V/R</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>2.3. Струм котушки</xmp>(Coil Current)</td>
                <td>Струм при номінальній напрузі</td>
                <td>Для батарейних пристроїв: чим менше — тим краще.</td>
            </tr>
            <tr>
                <td><xmp>2.4. Потужність котушки</xmp>(Coil Power)</td>
                <td>Потужність при номінальній напрузі</td>
                <td>Типові значення: Герконове реле - 50–150 мВт; Сигнальне реле - 100–300 мВт; Силове реле - 0.5–2 Вт; Контактор - 2–50 Вт</td>
            </tr>
            <tr>
                <td><xmp>2.5. Напруга гарантованого спрацювання</xmp>(Must Operate Voltage)</td>
                <td>Приклад: 75% of nominal. Наприклад, для реле 12 В - це 9 В, означає, що нижче 9 В виробник не гарантує спрацювання.</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>2.6. Напруга гарантованого відпускання</xmp>(Must Release Voltage)</td>
                <td>Нариклад, 10% of nominal</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>2.7. Максимальна допустима напруга котушки</xmp>(Maximum Coil Voltage)</td>
                <td>Приклад: 130% nominal. Наприклад, для 12 В це 15.6 В, вище — ризик перегріву.</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>3. Часові характеристики (Timing Characteristics)</b></td>
            </tr>
            <tr>
                <td><xmp>3.1. Час спрацювання</xmp>(Operate Time)</td>
                <td>Від подачі напруги до замикання контактів (мс)</td>
                <td>Типові значення: контактор = 20–100 мс; звичайне реле = 5–15 мс; герконове = 0.2–1 мс</td>
            </tr>
            <tr>
                <td><xmp>3.2. Час відпускання</xmp>(Release Time)</td>
                <td>Від вимкнення котушки до повернення контактів</td>
                <td>Типово: 1–10 мс.</td>
            </tr>
            <tr>
                <td><xmp>3.3. Час брязкоту контактів</xmp>(Bounce Time)</td>
                <td></td>
                <td>&lt;1 мс - відмінно; 1–3 мс - добре; 3–10 мс - нормально; >10 мс - погано</td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>4. Ізоляція (Insulation Characteristics)</b></td>
            </tr>
            <tr>
                <td><xmp>4.1. Опір ізоляції</xmp>(Insulation Resistance)</td>
                <td></td>
                <td>Типово: 100 МОм – 1000 МОм.</td>
            </tr>
            <tr>
                <td><xmp>4.2. Електрична міцність ізоляції</xmp>(Dielectric Strength)</td>
                <td>Між: котушкою і контактами, а також різними групами контактів.</td>
                <td>500 В - мінімум; 1500 В - добре; 2500 В - дуже добре; 5000 В - промисловий клас</td>
            </tr>
            <tr>
                <td><xmp>4.3. Імпульсна напруга</xmp>(Surge Voltage)</td>
                <td>Показує стійкість до імпульсів блискавки та перенапруг. Наприклад: 10 kV</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>5. Ресурс (Life Characteristics)</b></td>
            </tr>
            <tr>
                <td><xmp>5.1. Механічний ресурс</xmp>(Mechanical Life)</td>
                <td>Кількість циклів спрацювання без навантаження. Наприклад, 1 млн, 5 млн, 10 млн, 100 млн</td>
                <td>100 тис. - мало; 500 тис. - нормально; 1 млн - добре; 5 млн - дуже добре; 10 млн+ - відмінно</td>
            </tr>
            <tr>
                <td><xmp>5.2. Електричний ресурс</xmp>(Electrical Life)</td>
                <td>Кількість циклів спрацювання під навантаженням. Наприклад, 50тис, 100 тис, 500 тис, 1 млн</td>
                <td>
                    Для сигнальних реле: 50 тис. - мало; 100 тис. - нормально; 500 тис. - добре; 1 млн+ - дуже добре<br>
                    Для силових реле: 10 тис. - мінімум; 50 тис. - нормально; 100 тис. - добре; 500 тис.+ - дуже добре
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Механіка (Mechanical Characteristics)</b></td>
            </tr>
            <tr>
                <td colspan="3">Габарити (Dimensions), вага (Weight), спосіб монтажу (Mounting Type), тип виводів (Terminal Type: PCB Pins, Quick Connect, Screw Terminal), стійкість до ударів (Shock Resistance), до вібрацій (Vibration Resistance), робоча температура (Ambient Temperature), допустима вологість (Humidity)</td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Специфічні параметри для окремих видів реле</b></td>
            </tr>
            <tr>
                <td><xmp>Контактор: Категорія застосування</xmp>(Utilization Category)</td>
                <td>
                    AC-1 - Резистивне навантаження (лампи розжарювання, нагрівачі)<br>
                    AC-3 - Електродвигуни<br>
                    AC-4 - Реверсування двигуна та часті пуски<br>
                    Найпоширеніший стандарт — IEC 60947-4-1.<br>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>Геркон: Чутливість спрацювання</xmp>(Operate Sensitivity)</td>
                <td>Одиниці: AT (Ampere-Turns = Ампер-витки); AT = N ⋅ I, де N — кількість витків, I — струм.</td>
                <td>
                    5–10 AT - дуже чутливий; 10–20 AT - хороший; 20–40 AT - стандартний; 40–80 AT - малочутливий; >80 AT - дуже малочутливий<br>
                    Високочутливий геркон легше спрацьовує, легше реагує на сторонні магнітні поля. Для промисловості часто спеціально беруть менш чутливі геркони.
                </td>
            </tr>
            <tr>
                <td>
                    <xmp>Бістабільні реле:</xmp>
                    <xmp>Напруга встановлення</xmp>(Set Voltage)<br>
                    <xmp>Напруга скидання</xmp>(Reset Voltage)
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>Бістабільні реле: Тип фіксації</xmp>(Latching Type)</td>
                <td>
                    - Single Coil Latching / 1 Coil Magnetic Latching - однокотушкове - для зміни стану подаються на один контакт імпульси різної полярності;<br>
                    - Dual Coil Latching / 2 Coil Magnetic Latching - двокотушкове - одна котушка переводить реле в стан SET, інша - в RESET, полярність імпульсу змінювати не треба<br>
                    - Magnetic Latching Relay - Магнітне бістабільне реле - стан утримується магнітом<br>
                    - Mechanical Latching Relay - Механічне бістабільне реле - стан утримується механічною защіпкою
                </td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>Бістабільні реле: Здатність зберігати стан</xmp>(State Retention)</td>
                <td>Так або ні. Часто описується текстом, наприклад Retains contact position without power</td>
                <td></td>
            </tr>
        </table>

        <table border="1">
            <tr>
                <th id="A7" colspan="2">Практичні рекомендації по вибору реле</th>
            </tr>
            <tr>
                <td><xmp>Для вибору реле на практиці інженери найчастіше дивляться в такому порядку:</xmp></td>
                <td>
                    1. Номінал контактів (Contact Rating)<br>
                    2. Номінальна напруга котушки (Coil Voltage)<br>
                    3. Конфігурація контактів (Contact Configuration: SPST, SPDT, DPDT)<br>
                    4. Електричний ресурс (Electrical Life)<br>
                    5. Час спрацювання (Operate Time)<br>
                    6. Габарити (Dimensions)<br>
                    7. Робоча температура (Temperature Range)<br>
                    А такі параметри як Напруга скидання (Must Release Voltage), Час брязкоту контактів (Bounce Time), стійкість до ударів (Shock Resistance), Чутливість спрацювання (Operate Sensitivity) стають важливими вже у спеціалізованих або промислових застосуваннях.
                </td>
            </tr>
            <tr>
                <td><xmp>Для мікроконтролерів</xmp></td>
                <td>
                    1. Номінальна напруга котушки (Nominal Coil Voltage)<br>
                    2. Струм котушки (Coil Current)<br>
                    3. Напруга гарантованого спрацювання (Must Operate Voltage)<br>
                    4. Номінал контактів (Contact Rating)
                </td>
            </tr>
            <tr>
                <td><xmp>Для мережі 230 В</xmp></td>
                <td>
                    1. Номінал контактів (Contact Rating)<br>
                    2. Електричний ресурс (Electrical Life)<br>
                    3. Матеріал контактів (Contact Material)<br>
                    4. Електрична міцність ізоляції (Dielectric Strength)
                </td>
            </tr>
            <tr>
                <td><xmp>Для промислових двигунів</xmp></td>
                <td>
                    1. Категорія застосування (Utilization Category (AC-3, AC-4))<br>
                    2. Електричний ресурс (Electrical Life)<br>
                    3. Час спрацювання (Operate Time)<br>
                    4. Імпульсна напруга (Surge Voltage)<br>
                    5. Максимальний струм комутації (Maximum Switching Current)
                </td>
            </tr>
            <tr>
                <td><xmp>Найкращий показник</xmp></td>
                <td>
                    Найбільший струм - Контактор<br>
                    Найвища швидкість - Герконове<br>
                    Найменше споживання - Бістабільне<br>
                    Найбільший ресурс - Герконове та гібридне<br>
                    Найкраще для точних сигналів - Герконове<br>
                    Найкраще для двигунів - Контактор<br>
                    Найкраще для батарейок - Бістабільне<br>
                    Найкраще для силової автоматики - Контактор або гібридне
                </td>
            </tr>
        </table>

        <table border="1">
            <tr>
                <th id="A10" colspan="3">Практичні рекомендації по вибору перемикача</th>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Першим ділом інженер відповідає на три питання</b></td>
            </tr>
            <tr>
                <td><xmp>1. AC чи DC?</xmp></td>
                <td colspan="2">
                    - 230 В AC → реле, контактор, SSR, симістор.<br>
                    - 12 В DC → реле, MOSFET.<br>
                    - 400 В DC → контактор, MOSFET, IGBT, гібридне реле.
                </td>
            </tr>
            <tr>
                <td><xmp>2. Потрібна гальванічна розв'язка?</xmp></td>
                <td colspan="2">
                    - так - реле, SSR, оптрон + ключ;<br>
                    - ні - MOSFET, IGBT, тиристор.
                </td>
            </tr>
            <tr>
                <td><xmp>3. Частота перемикань?</xmp></td>
                <td colspan="2">
                    - кілька разів на день → реле<br>
                    - 100 разів на секунду → MOSFET<br>
                    - 10000 разів на секунду → тільки напівпровідники.
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center"><b>Найкраще підходить</b></td>
            </tr>
            <tr>
                <td colspan="3"><i>в сучасній електроніці MOSFET є найпоширенішим комутаційним елементом, але реле зовсім не зникли: вони залишаються найпростішим способом отримати справжню гальванічну розв'язку та майже ідеальний механічний контакт</i></td>
            </tr>
            <tr>
                <td><xmp>Реле</xmp></td>
                <td>
                    - рідкісні перемикання (до кількох за хвилину: увімкнути насос, через годину вимкнути);<br>
                    - гальванічна розв'язка (фізичний розрив ланцюга);<br>
                    - потрібно комутувати різні типи сигналів (наприклад, 5 В логіка + 24 В DC + 230 В AC);<br>
                    - не спотворює анаологові сигнали
                </td>
                <td>розумний будинок, автоматика, побутова техніка, автомобілі, силові кола</td>
            </tr>
            <tr>
                <td><xmp>Герконові реле</xmp></td>
                <td>точні аналогові або вимірювальні сигнали</td>
                <td>вимірювальна техніка</td>
            </tr>
            <tr>
                <td><xmp>Контактор</xmp></td>
                <td>дуже великі AC-потужності</td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>MOSFET</xmp></td>
                <td>
                    - найкраще підходить для DC;<br>
                    - часті перемикання (наприклад, Pulse Width Modulation (PWM) — широтно-імпульсна модуляція: 1 кГц; 20 кГц; 100 кГц);<br>
                    - практично не має механічного зносу;<br>
                    - коли відкритий за рах. малого опору втрати дуже малі (P=I^2*R)
                </td>
                <td>двигуни, світлодіодні стрічки, DC/DC-перетворювачі, акумуляторні системи, робототехніка.</td>
            </tr>
            <tr>
                <td><xmp>Біполярний транзистор (BJT)</xmp></td>
                <td>- дуже дешеві схеми;<br>- підсилювачі;<br>- малопотужні ключі.</td>
                <td>Сьогодні значно рідше, для силової комутації MOSFET майже завжди кращий.</td>
            </tr>
            <tr>
                <td><xmp>IGBT</xmp></td>
                <td>
                    Проміжне рішення між MOSFET і силовим тиристором.<br>
                    Найкраще для високих напруг (600 В; 1200 В; 1700 В; 3300 В)
                </td>
                <td>частотні перетворювачі, інвертори, електромобілі, тягові приводи, зварювальні апарати.</td>
            </tr>
            <tr>
                <td><xmp>Тиристор (SCR)</xmp></td>
                <td>
                    Найкращий для великих потужностей (після відкриття сам залишається відкритим)
                </td>
                <td>промислові випрямлячі, плавний пуск двигунів, високовольтні установки, системи передачі енергії HVDC.</td>
            </tr>
            <tr>
                <td><xmp>Симістор (TRIAC)</xmp></td>
                <td>Найкраще для 230 В AC, для DC не дуже підходить</td>
                <td>димери, регулятори нагріву, вентилятори, побутова техніка.</td>
            </tr>
            <tr>
                <td><xmp>Твердотільні реле (SSR)</xmp></td>
                <td>
                    Коли потрібно одночасно гальванічна розв'язка, швидкість і великий ресурс.<br>
                    У порівнянні із реле не має брязкоту контактів, дуги, але є нагрів, струм витоку і дорожче.
                </td>
                <td></td>
            </tr>
            <tr>
                <td><xmp>Оптрон</xmp></td>
                <td>Зазвичай у якості гальванічної розв'язки між мікроконтроллером і силовою частиною (двигун 48 В, 230 В AC тощо)</td>
                <td></td>
            </tr>
        </table>
		
	</div>	
	<p>&nbsp;</p>
	<footer>По матеріалам чату GPT</footer>

</body>
</html>