<!DOCTYPE html>
<html>
<head>
	<title>Діоди</title>
	<link rel="stylesheet" type="text/css" href="../css/componentsStyle.css">
</head>
<body>
	<div id="content">
		<font size="6"><center>Діоди</center></font>
		<nav>Розділи:
            <a href="#A1">Що таке діоди</a> | <a href="#A2">Класифікація</a> | 
        </nav>
		<table border="1" width="100%">
			<tr>
				<th id="A1">Що таке діоди</th>
			</tr>
			<tr>
				<td>Діоди — це компоненти, які замикають коло, розмикають коло або перемикають електричні з’єднання між різними лініями.</td>
			</tr>
        </table>
		
	</div>	
	<p>&nbsp;</p>
	<footer>По матеріалам чату GPT</footer>

</body>
</html>