<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Diary Messages</title>
	<link rel="icon" type="image/png" href="media/icon.png">
	<link rel="stylesheet" type="text/css" href="/diary/public/css/diarystyle.css">
	<meta name="robots" content="noindex, nofollow"> <!-- робить сторінку прихованою від пошукових ботів -->
</head>

<body>
	<!------------------------------ HEADER----------------------------------->
	<header id="header">
	</header>
	<!------------------------------ CONTENT----------------------------------->
	<div class="diaryLogin">
        <%- message %>
	</div>
</body>
</html>