		body{
			background-image : url(../img/old-cement-wall-texture.jpg);
			background-size: 100%;
			font-family: Calibri;
			font-size: 14px; 
		}
		#content{
			background-color:#C9C9C9;
			width:620px;
			
			padding: 5px;
   			padding-left: 20px;
   			border: solid 1px black;
			float: left;
		}

/*--------------ELEMENT'S STYLES-----------------*/
		xmp{
			color: brown;
			font-weight: bold;
			font-family: Arial;
			display: inline;
			font-size: 13px;
		}
		td{
			border-bottom: 1px solid #000;
		}
