		body{
			background-image : url(../img/old-cement-wall-texture.jpg);
			background-size: 100%;
			font-family: Calibri;
			font-size: 14px; 
		}
		.fst{
			font-weight: bold;
			color: #812B2B;
		}
		#content{
			width: 98%;
			background-color:#C9C9C9;
			padding: 5px;
   			padding-left: 20px;
   			border: solid 1px black;
		}
		.block{
			display: inline-block;
			margin: 6px;
			vertical-align: top;
		}
		#block{
			position: fixed;
			top: 90px;
			left: 69%;
			margin: 6px;
			height: 800px;
			overflow: auto;
		}
		#strucBlock{
			display: block;
			padding: 5px 80px 5px 80px;
			background-color: rgba(255, 255, 255, 0.3);
			font-size: 13px;
			line-height: 8px;
		}
		#displayInner{
			margin-top: 20px;
			padding: 10px 80px 10px 80px;
			background-color: Teal;
			border: solid 5px LightSteelBlue;
			color: GhostWhite;
			font-size: 13px;
			line-height: 8px;
		}
/*--------------ELEMENT'S STYLES-----------------*/
		table xmp{
			display: block;
			color: brown;
			font-family: Consolas;
			font-size: 13px;
			margin: 0px;
		}
		#comm{
			color: DimGray;
		}
		.structure{
			border: solid 1px CornflowerBlue;
			background-color: AliceBlue;
			display: block;
			margin: 3px;
		}
		.structure:hover{
			background-color: LightSkyBlue;
			padding-left: 1px;
		}
		.structure:active{
			background-color: CadetBlue;
		}
		td{
			background-color: rgba(255, 255, 255, 0.3);
			padding: 10px 3px 10px 3px;
		}
		th{
			background-color: PowderBlue;
		}

		i{	color: FireBrick;
		}
		h3{
			margin: 5px;
			text-align: center;
		}
		h4{
			margin: 2px;
			text-align: center;
		}
		footer{
			text-align: center;
			width: 99.3%;
			clear: both;
			background-color: rgba(220, 220, 220, 0.6);
			border: solid 1px black;
			height: 40px;
			position: absolute;
			top: 2075px;
			float: left;
			clear: both;
			z-index: 4;
		}
		#footer{
			text-align: center;
			width: 98.5%;
			clear: both;
			background-color: rgba(220, 220, 220, 0.6);
			border: solid 1px black;
			height: 40px;
			position: absolute;
			top: 1290px;
			float: left;
			clear: both;
			z-index: 4;
		}
		
		
