		body{
			background-color: black;
			background-attachment: fixed;
			font-family: Consolas;
			text-decoration-color: white;
			font-size: 16px; 
		}
		header{
			background-color: black;
			border: 1px outset #FFFFFF;
			height: 100px;
			position: fixed;
			float: left;
			right: 0px;
			left: 0px;
			top: 0px;
		}

		#container{
			position: absolute;
			top: 110px;
		}
		#box {
			float: left;
		}
		#boxtext{
			z-index: 2;
			position: absolute;
		}
		#boxpicture{
			z-index: 1;
			position: relative;
		}
/*--------------ELEMENT'S STYLES-----------------*/
		h1{
			font-family: Verdana;
			font-size: 150px;
			padding-left: 30px;
		}

		a{
			color: rgba(255, 255, 255, 50%);
			text-decoration: none;
		}
		a:hover{
			color: rgba(255, 255, 255, 100%);;
			text-decoration: none;
		}
		a:active{
			color: #FD60BC;
		}